---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (
	await getCollection("techBlog", ({ data }) => {
		return data.isDraft !== true;
	})
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const title = "モダンなWeb製作のテックブログ";
const description = "モダンなWeb制作を極めるテックブログ。Astro、Tailwind CSS、HTML/CSSの最新テクニックから、パフォーマンス改善、アクセシビリティ、ユーザービリティまで、プロが実践するノウハウをわかりやすく解説します。";
---

<BaseLayout title={title} description={description}>
    <div class="container py-8">
        <h1 class="text-std-32B-150 md:text-std-36B-140">{title}</h1>
        <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-8">
            {
                posts.map((post) => (
                    <li>
                        <a href={`/tech-blog/${post.id}/`} class="block px-4 py-3 border rounded-lg">
                            <p>{post.data.title}</p>
                            <FormattedDate date={post.data.pubDate} />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
