---
import SnsButtons from "@/components/SnsButtons.astro";
import { buttonVariants } from "@/components/ui/button";
import { SITE_TITLE } from "@/consts";
import { cn } from "@/lib/utils";
import { Picture } from "astro:assets";
import PersonalIcon from "@/assets/personal-icon-512x512.png";

interface Props {
  headerPosition?: "sticky" | "fixed";
}

const { headerPosition = "sticky" } = Astro.props;

const navItems = [
  {
    name: "ホーム",
    href: "/",
    strict: true,
  },
  {
    name: "ブログ",
    href: "/blog",
  },
  // {
  //   name: "お問い合せ",
  //   href: "/contact",
  // },
];
---

<header
  class={cn("w-full top-0 z-50 bg-background border-b shadow", headerPosition)}
>
  <nav class="container grid grid-cols-[1fr_auto_1fr] items-center h-15">
    <a
      href="/"
      class="grid grid-cols-[auto_1fr] items-center gap-x-3 duration-300 hover:opacity-70"
    >
      <Picture formats={['avif']} class="w-auto h-11" src={PersonalIcon} alt="" />
      <span class="font-medium text-[clamp(1rem,0.886rem+0.48dvw,1.25rem)]/[1.2]"
        >{SITE_TITLE}</span
      >
    </a>
    <div class="justify-self-center">
      <div class="hidden lg:block">
        <ul class="flex justify-center items-center gap-1">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.href}
                  class={buttonVariants({ variant: "ghost" })}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="justify-self-end">
      <div class="lg:hidden">
        <details id="mobileMenu" class="group">
          <summary
            class={cn(buttonVariants({ variant: "ghost" }), "uppercase")}
          >
            <div class="relative size-4">
              <span
                class="bg-foreground absolute left-0 block h-0.5 rounded-full w-4 transition-all duration-200 top-1 group-open:top-[0.4rem] group-open:-rotate-45"
              ></span><span
                class="bg-foreground absolute left-0 block h-0.5 rounded-full w-4 transition-all duration-200 top-2.5 group-open:top-[0.4rem] group-open:rotate-45"
              ></span>
            </div>
            Menu
          </summary>
          <div
            class="absolute bg-background z-50 w-full inset-x-0 h-[calc(100dvh-3.75rem)] top-15"
          >
            <div class="container py-4 grid gap-4">
              <ul class="flex flex-col gap-1 w-full">
                {
                  navItems.map((item) => (
                    <li>
                      <a
                        href={item.href}
                        class={cn(
                          buttonVariants({ variant: "ghost" }),
                          "w-full justify-start px-3",
                        )}
                      >
                        {item.name}
                      </a>
                    </li>
                  ))
                }
              </ul>
              <SnsButtons />
            </div>
          </div>
        </details>
      </div>
      <div class="hidden lg:block">
        <SnsButtons />
      </div>
    </div>
  </nav>
</header>

<style>
  body:has(details#mobileMenu[open]) {
    overflow: hidden;
  }

  details#mobileMenu {
    &::details-content {
      @media (prefers-reduced-motion: no-preference) {
        transition-duration: 300ms;
        transition-property: content-visibility, opacity;
        transition-behavior: allow-discrete;
      }
    }
    &:not([open])::details-content {
      opacity: 0;
    }
  }
</style>
