---
import PageLayout from "@/layouts/PageLayout.astro";
import BlogList from "@/components/BlogList.astro";
import { SITE_TITLE } from "@/consts";
import { type CollectionEntry, getCollection } from "astro:content";
import type { Page } from "astro";

interface Props {
    currentCategory?: CollectionEntry<"blogCategories">;
    page: Page;
}

const { currentCategory, page } = Astro.props;

const categories = await getCollection("blogCategories", ({ data }) => {
    return data.isDraft !== true;
});

const title = currentCategory
    ? `${currentCategory.data.name}に関する記事`
    : "すべての記事";
---

<PageLayout
    title={`${title} - ブログ`}
    description={`${SITE_TITLE}で公開されている${title}の一覧です。`}
>
    <div class="container py-8">
        <BlogList posts={page.data} categories={categories} pagination={page} />
    </div>
</PageLayout>
